canvas {
    display: block;
    margin: 0 auto;
}
.form-popup {
    color: wheat;
    background: red;
    display: none;
    position: fixed;
    bottom: 0;
    right: 47%;
    bottom: 64%;
    border: 3px solid red;
    z-index: 9;

}